*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  text-align: center;
}
section{
  height: 100vh;
}
body{
  
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom,#0f3443, #34e89e);
}
.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.frame .div {
  top: 10%;
  background-color: none;
  width: 1250px;
  height: 592px;
  position: relative;
}

.frame .text-wrapper {
  position: absolute;
  top: 20px;
  left: -100px;
  font-family: Inter;
  color: #0f3443;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;

}

.frame .overlap-group {
  position: absolute;
  width: 1166px;
  height: 453px;
  top: 108px;
  left: 62px;
}

.frame .bn-quy-hoch-cc-khu {
  position: absolute;
  width: 531px;
  height: 321px;
  top: 50px;
  left: -90px;
  object-fit: cover;
  border-radius: 50px;
}
.bg-img{
  padding-top: 25%;
  background-color: none;
  justify-content: left;
  object-fit:cover ;
}
.trails{
  left: 55%;
  width: 50%;
  padding-right: 10%;
  position:absolute;
}

.frame .p {
  position: absolute;
  width: 652px;
  top: 25%;
  left: 550px;
  font-weight: 100;
  color: #13734b;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1;
  line-height: normal;
  justify-content: right;
  align-items:center;
}

.footer{
  padding: 60px 10% 90px 90px;
  height: 38vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 3.5rem;
  background:#0f3443;
  list-style: none;
}
.footer-content h5{
  padding-right: 72%;
  padding-left: 0px;
  border-left:3px solid black ;
  padding-top: 0px;
  font-size:20px;
  font-weight: 500;
  color:white;
  letter-spacing: 1px;
  text-decoration: none;
}
.footer-content p{
  padding-right: 40%;
  margin: 20px 0px 10px ;
  font-size: .500rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: +1.3px; 
  color: white;
}
.footer-content h4{
  color:white;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight:200;
}
.footer-content li{
  margin-bottom: 10px;
}
.footer-content li a{
  color: #d6d6d6;
  font-size: 13px;
  font-weight: 100;
  transition: all .40s ease;
}
.footer-content li a:hover{ 
  color:#34e89e;
}
.f-icons{
  background-color: none;
  padding-right: 50%;
  padding-top: 5px;
}
.f-icons a{
  font-size: 19px;
  color:white;
  margin-right: 20px;
  transition: all .40s ease;
}
.f-icons a:hover{
  color: #34e89e;
}
