*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  text-align: center;
}

body{
  
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom,#0f3443, #34e89e);
}
.frame {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.frame .div {
  top: 10%;
  background-color: none;
  width: 1250px;
  height: 592px;
  position: relative;
}

.frame .text-wrapper {
  position: absolute;
  top: 20px;
  left: -100px;
  font-family: Inter;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;

}

.frame .overlap-group {
  position: absolute;
  width: 1166px;
  height: 453px;
  top: 108px;
  left: 62px;
}

.frame .bn-quy-hoch-cc-khu {
  position: absolute;
  width: 531px;
  height: 321px;
  top: 50px;
  left: -130px;
  object-fit: cover;
  border-radius: 50px;
}

.frame .p {
  position: absolute;
  width: 652px;
  top: 40px;
  left: 550px;
  font-family: Inter;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
section2 {
  padding: 60px 6% 90px 90px;
}
.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 3.5rem;
  background:#0f3443;
  list-style: none;
}
.footer-content h5{
  padding-left: 2px;
  border-left:3px solid black ;
  padding-top: 4px;
  font-size:20px;
  font-weight: 500;
  color:white;
  letter-spacing: 1px;
  text-decoration: none;
}
.footer-content p{
  margin: 12px 0px 10px ;
  font-size: .500rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: +1.3px; 
  color: white;
}
.footer-content h4{
  color:white;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight:200;
}
.footer-content li{
  margin-bottom: 10px;
}
.footer-content li a{
  color: #d6d6d6;
  font-size: 13px;
  font-weight: 100;
  transition: all .40s ease;
}
.footer-content li a:hover{ 
   
  color:#34e89e;
}
.f-icons a{
  display: 20px;
  font-size: 19px;
  color: #d6d6d6;
  margin-right: 13px;
  transition: all .40s ease;
}
